.lr-forms {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 35rem;
  margin: 1.5rem auto;
}
.lr-forms h2 {
  margin: 1rem 2rem;
}
.lr-forms .lr-wrap {
  padding: 0 2rem;
  height: auto;
}
.lr-forms .lr-wrap .lr-input-wrap label .lr-label-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 0.8rem 0;
}
.lr-forms .lr-wrap .lr-input-wrap label .lr-label-wrap p {
  margin: 0;
}
.lr-forms .lr-wrap .lr-input-wrap label input {
  margin: 0 auto;
  width: 99%;
  height: 2rem;
}
.lr-forms .lr-wrap .lr-xtr-links {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 1rem 0;
  text-align: center;
}
.lr-forms .lr-wrap .lr-btn-wrap button {
  width: 100%;
  height: 3rem;
  position: relative;
}
