.nav-unresponsive {
  background-color: var(--navBg);
  width: 100%;
  height: 10%;
  position: relative;
  z-index: 99999;
}
.nav-unresponsive ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 25rem;
}
.nav-unresponsive ul a {
  text-decoration: none;
  font-size: var(--navFontSize);
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
.nav-logo > svg {
  height: 2rem;
  width: 2rem;
  fill: var(--navLogoColor);
}
.auth-links-left {
  width: 16rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.auth-links-left > .links-not-logo {
  padding-top: 0.6rem;
}
.auth-links-right > a {
  padding: 1rem;
}

.nav-responsive {
  background-color: var(--navBg);
  width: 100%;
  position: relative;
  z-index: 99999;
}
.ham-cont {
  padding-top: 1rem !important;
}
.nav-unresponsive ul,
li,
a {
  text-decoration: none;
}
.nav-responsive-mainr {
  display: flex;
  justify-content: space-between;
}
.nav-responsive-mainr {
  /* padding: 0.5rem 0; */
}
.nav-responsive-subr {
  background-color: rgb(30, 31, 34);
}
.nav-responsive ul {
  list-style-type: none;
}
.nav-responsive ul li {
  padding: 1rem 0;
  text-decoration: none;
  margin: 0 10%;
}
.nav-resp-i {
  fill: white;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 790px) {
  .nav-responsive {
    display: none;
  }
}
@media only screen and (max-width: 790px) {
  .nav-unresponsive {
    display: none;
  }
  .nav-resp-i {
    display: block;
  }
}
