nav {
  background-color: var(--main-nav-bg);
  border-bottom: var(--main-nav-border-color);
  padding: 1rem 0;
  width: 100%;
}
.nav-logo img {
  height: 2rem;
  width: 2rem;
}
nav .responsive {
  display: none;
}
nav .irresponsive {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 13.5%;
  padding: 0;
}
nav .irresponsive .auth-links-left,
nav .irresponsive .auth-links-right {
  display: flex;
}
nav .irresponsive .auth-links-left li,
nav .irresponsive .auth-links-right li {
  align-items: center;
  display: flex;
}
nav .irresponsive .auth-links-left li,
nav .irresponsive .auth-links-right li {
  padding: 0 1rem;
}

@media (max-width: 720px) {
  nav {
    padding-bottom: 0;
  }
  nav .irresponsive {
    display: none;
  }
  nav .responsive {
    display: block;
    margin: 0.2rem 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav .responsive svg {
    height: 1.8rem;
    width: 1.8rem;
  }
  nav .responsive li {
    background-color: rgb(220, 220, 220);
    padding: 0.5rem 0;
    display: none;
  }
  nav .responsive li a {
    color: rgb(68, 68, 68);
  }
}
