#left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#left-section #ls-search-bar {
  align-items: center;
  background-color: var(--recipe-main-color);
  border-bottom: var(--recipe-section-border-color);
  display: flex;
  height: 4rem;
  width: 100%;
}
#left-section #ls-search-bar input {
  border: var(--recipe-section-border-color);
}
#left-section .recipe-comp-container {
  height: 100%;
}
#left-section .recipe-comp-container #recipe-comp .min-date2 {
  display: flex;
  justify-content: space-between;
}
#left-section .btn-wrap {
  background-color: var(--recipe-main-color);
  border-top: var(--recipe-section-border-color);
  padding: 1rem;
}
#left-section .btn-wrap button {
  display: block;
  margin: 0 auto;
  width: 40%;
}
#left-section #ls-search-bar svg {
  width: 10%;
}
#left-section #ls-search-bar input {
  width: 88%;
  height: 2rem;
}
