#section-1 {
  /* border: 1px solid black; */
  overflow: hidden;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
#section-1 label {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  background-color: var(--recipe3ContBg);
}
#section-1 label svg {
  width: 10%;
  height: 1.5rem;
  margin: auto 1rem;
  display: inline-block;
  fill: white;
}
#section-1 label input {
  width: 90%;
  height: 1.5rem;
  margin: 1.3rem 3rem;
  margin-left: 0;
}
#recipe-container {
  height: 80%;
  /* border: 1px solid red; */
  background-color: var(--recipeContBg);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
#recipe-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
#section-1 > button {
  /* border: 1px solid black; */
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
  padding: 0.8rem 0;
  cursor: pointer;
  background-color: var(--recipe3ContBg);
  color: white;
}
#section-1 > button:hover {
  background-color: #242a2a;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.ls-add-btn {
  font-size: 1.5rem;
}
