#left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#left-section #ls-search-bar {
  align-items: center;
  background-color: var(--main-color);
  border-bottom: var(--main-border-color);
  display: flex;
  height: 4rem;
  width: 100%;
}
#left-section #ls-search-bar input {
  border: var(--main-border-color);
}
#left-section .recipe-comp-container {
  height: 78%;
  overflow-y: scroll;
}
#left-section .recipe-comp-container .spinner-wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
#left-section .recipe-comp-container #recipe-comp .min-date2 {
  display: flex;
  justify-content: space-between;
}
#left-section .btn-wrap {
  background-color: var(--main-color);
  border-top: var(--main-border-color);
  padding: 1rem;
}
#left-section .btn-wrap button {
  display: block;
  margin: 0 auto;
  width: 100%;
}
#left-section #ls-search-bar svg {
  width: 10%;
}
#left-section #ls-search-bar input {
  width: 88%;
  height: 2rem;
}

@media (max-width: 720px) {
  #left-section .btn-wrap button {
    width: 100%;
  }
}
