.recipe-comp {
  /* border: 1px solid rgba(0, 0, 0, 0.048); */
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
}
.recipe-comp:hover {
  background-color: rgb(243, 243, 243);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.recipe-comp h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.recipe-comp hr {
  /* border: 1px solid black; */
  margin: 1rem 0;
}
.recipe-comp > p {
  padding-top: 1rem;
}
.recipe-comp > div {
  display: flex;
  justify-content: space-between;
}
