.recipe-comp {
  /* border: 1px solid rgba(0, 0, 0, 0.048); */
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
  color: whitesmoke;
  border-radius: var(--mainSubSecBR);
  background-color: var(--recipe2ContBg);
}
.recipe-comp:hover {
  background-color: rgba(36, 36, 39, 0.632);
}
.recipe-comp h4 {
  font-size: var(--h4Custom);
  font-weight: bold;
}
.recipe-comp hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid rgb(154, 154, 176);
}
.recipe-comp > p {
  padding-top: 1rem;
}
.recipe-comp > div {
  display: flex;
  justify-content: space-between;
}
.recipe-comp > div {
  font-size: var(--pCustom);
}
