#right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#right-section header {
  background-color: var(--recipe-main-color);
  border-bottom: var(--recipe-section-border-color);
  padding: 0.5rem 1rem;
}
#right-section header .min-date {
  display: flex;
  margin-top: 0.25rem;
  justify-content: space-between;
}
#right-section .cont-wrap {
  height: 90%;
  overflow-y: scroll;
}
#right-section .cont-wrap .top-row {
  display: flex;
  gap: 0rem;
  justify-content: space-around;
  margin: 1rem 0;
}
#right-section .cont-wrap .top-row .img-cont {
  border: var(--recipe-section-border-color);
  height: 12rem;
  width: 40%;
}
#right-section .cont-wrap .top-row .img-cont img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#right-section .cont-wrap .top-row .rest-info {
  width: 40%;
}
#right-section .cont-wrap .top-row .rest-info p {
  border: var(--recipe-section-border-color);
  border-radius: 0.15rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}
#right-section .cont-wrap .bottom-row {
  margin: 0 1rem;
}
#right-section .cont-wrap .bottom-row .ingredients ol {
  padding: 0;
}
#right-section .cont-wrap .bottom-row .ingredients,
#right-section .cont-wrap .bottom-row .instructions {
  border: var(--recipe-in-border-color);
  border-radius: 0.15rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  min-height: 7rem;
}
#right-section .btn-wrap {
  background-color: var(--recipe-main-color);
  border-top: var(--recipe-section-border-color);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
#right-section .btn-wrap button {
  width: 40%;
}
