.home-main {
  height: 0;
}
.home-main header {
  background-color: var(--home-section-header-background-color);
  border-radius: var(--home-section-border-radius);
  box-shadow: var(--home-section-box-shadow);
  display: flex;
  justify-content: space-around;
  padding: 5rem 10rem;
  position: relative;
  z-index: 10;
}
.home-main header .header-text {
  width: 30%;
}
.home-main header .header-text button {
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  width: 100%;
}
.home-main .sub-section-1 {
  background-color: var(--home-section-sub-section-1-background-color);
  border-radius: var(--home-section-border-radius);
  bottom: 5rem;
  box-shadow: var(--home-section-box-shadow);
  margin: 0rem auto;
  padding-bottom: 2.5rem;
  padding-top: 7rem;
  position: relative;
  z-index: 9;
}
.home-main .sub-section-1 h2 {
  margin: 2rem auto;
  text-align: start;
  width: 50%;
}
.home-main .sub-section-1 .card-wrapper .card {
  background-color: white;
  border: var(--home-card-border);
  border-radius: 0.25rem;
  display: flex;
  height: 10rem;
  margin: 2rem auto;
  width: 50%;
}
.home-main .sub-section-1 .card-wrapper .card p {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  padding: 0 2rem;
  text-align: center;
}
.home-main .sub-section-1 .card-wrapper .card svg {
  height: 3rem;
  padding: 2rem 2rem;
  margin: 0 1rem;
  width: 3rem;
}
.home-main .sub-section-1 .icon-wrapper .svg1 {
  fill: rgba(255, 109, 109, 0.4);
}
.home-main .sub-section-1 .icon-wrapper .svg2 {
  fill: rgba(109, 121, 255, 0.4);
}
.home-main .sub-section-1 .icon-wrapper .svg3 {
  fill: rgba(209, 109, 255, 0.4);
}
.home-main .sub-section-1 .card-wrapper .card .icon-wrapper {
  align-items: center;
  display: flex;
}
.home-main .sub-section-1 .odd .icon-wrapper {
  border-right: var(--home-card-border);
}
.home-main .sub-section-1 .even .icon-wrapper {
  border-left: var(--home-card-border);
}
.home-main .sub-section-2 {
  background-color: var(--home-section-sub-section-2-background-color);
  border-radius: var(--home-section-border-radius);
  bottom: 10rem;
  box-shadow: var(--home-section-box-shadow);
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 6rem 10rem;
  padding-top: 12rem;
  z-index: 8;
}
.home-main .sub-section-2 .section-text {
  width: 30%;
}
.home-main footer {
  background-color: var(--home-section-footer-background-color);
  bottom: 15rem;
  color: white;
  padding: 1rem 0;
  padding-top: 6rem;
  position: relative;
  text-align: center;
  z-index: 7;
}

@media (max-width: 992px) {
  .home-main header {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .home-main header .header-text {
    width: 90%;
    text-align: center;
  }
  .home-main .sub-section-1 h2 {
    margin: 2rem auto;
    text-align: start;
    width: 60%;
  }
  .home-main .sub-section-1 .card-wrapper .card {
    width: 60%;
  }
  .home-main .sub-section-2 {
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .home-main .sub-section-2 .section-text {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .home-main header {
    padding: 4rem 2rem;
  }
  .home-main header .header-text {
    width: 100%;
  }
  .home-main .sub-section-1 h2 {
    width: 90%;
  }
  .home-main .sub-section-1 .card-wrapper .card {
    width: 90%;
  }
  .home-main .sub-section-2 {
    padding: 0;
    padding-top: 8rem;
  }
  .home-main .sub-section-2 .section-text {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .home-main .sub-section-1 .card-wrapper .card {
    height: auto;
    flex-direction: column;
  }
  .home-main .sub-section-1 .card-wrapper .card .icon-wrapper {
    justify-content: center;
  }
  .home-main .sub-section-1 .odd .icon-wrapper {
    border: none;
    border-bottom: var(--home-card-border);
  }
  .home-main .sub-section-1 .even .icon-wrapper {
    border: none;
    border-top: var(--home-card-border);
  }
}
