.home-main {
  height: 0;
}
.home-main header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-nav-bg);
  padding: 5rem 10rem;
  border-radius: 0 0 4rem 4rem;
}
.home-main header .header-text {
  width: 30%;
}
.home-main header .header-text button {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 2px solid white;
}
.home-main .sub-section-1 {
  position: relative;
  z-index: 9;
  bottom: 5rem;
  padding-top: 7rem;
  padding-bottom: 2.5rem;
  margin: 0rem auto;
  background-color: rgb(232, 237, 255);
  border-radius: 0 0 4rem 4rem;
}
.home-main .sub-section-1 h2 {
  text-align: start;
  width: 50%;
  margin: 2rem auto;
}
.home-main .sub-section-1 .card {
  border: var(--home-card-border);
  border-radius: 0.25rem;
  display: flex;
  height: 10rem;
  margin: 2rem auto;
  width: 50%;
  background-color: white;
}
.home-main .sub-section-1 .card p {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  font-size: 0.9rem;
}
.home-main .sub-section-1 .card svg {
  height: 3rem;
  width: 3rem;
  padding: 2rem 2rem;
  margin: 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}
.home-main .sub-section-1 .icon-wrapper .svg1 {
  fill: rgba(255, 109, 109, 0.4);
}
.home-main .sub-section-1 .icon-wrapper .svg2 {
  fill: rgba(109, 121, 255, 0.4);
}
.home-main .sub-section-1 .icon-wrapper .svg3 {
  fill: rgba(209, 109, 255, 0.4);
}
.home-main .sub-section-1 .card .icon-wrapper {
  display: flex;
  align-items: center;
}
.home-main .sub-section-1 .odd .icon-wrapper {
  border-right: var(--home-card-border);
}
.home-main .sub-section-1 .even .icon-wrapper {
  border-left: var(--home-card-border);
}
.home-main .sub-section-2 {
  position: relative;
  z-index: 8;
  bottom: 10rem;
  padding: 6rem 10rem;
  padding-top: 12rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 241, 218);
  border-radius: 0 0 4rem 4rem;
}
.home-main .sub-section-2 .section-text {
  width: 30%;
}
footer {
  position: relative;
  z-index: 7;
  bottom: 15rem;
  padding: 1rem 0;
  padding-top: 6rem;
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
}
