#register-form {
  display: flex;
  flex-direction: row;
}
#register-form .left-section {
  width: 50%;
}
#register-form .right-section {
  align-items: center;
  background-color: rgba(68, 209, 113, 0.05);
  border-left: var(--main-border-color);
  display: flex;
  justify-content: center;
  width: 50%;
}
#register-form .left-section .lr-wrap {
  margin: 0 1rem;
}
#register-form .left-section .lr-wrap .lr-input-wrap {
  height: 22rem;
}
#register-form .left-section .lr-wrap .lr-input-wrap .r-flname-wrap {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
#register-form .left-section .lr-wrap .lr-input-wrap .r-flname-wrap label {
  width: 100%;
}
#register-form .left-section .lr-wrap .lr-xtr-links {
  /* margin: 0; */
}
#register-form .left-section .lr-wrap .lr-btn-wrap {
  position: relative;
  top: 0rem;
}
