.reset-pass-btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
}
.reset-pass-btn-cont > button {
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 790px) {
  .reset-pass-btn-cont {
    margin-top: 5.5rem;
  }
}
